*.wav

logdir/LJ01-1/*
logdir/LJ01-2/*

.idea/.gitignore
.idea/dctts_docker.iml
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sonarIssues.xml
.idea/sonarlint/
.idea/vcs.xml
